.nav-sidebar{
	height: 100vh;
	background-color: white;
	top: 0;
	position: absolute;
	width: 200px;
	transform: translateX(0);
	transition: all 0.5s ease;
	box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.1);
}

.closed{
	transform: translateX(-105%);
}

.sidebar-items-container div{
	border-bottom: 1px solid gray;
	padding: 10px;
	color: #003459;
	cursor: pointer;
}

.sidebar-items-container div:first-child{
	border-top: 1px solid gray;	
}

.sidebar-close-button {
	text-align: right;
	font-size: 18pt;
	padding: 10px;
	font-weight: 800;
	color: #003459;
	cursor: pointer;
	display: inline-block;
    position: relative;
    left: calc(100% - 38px);
}

@media (min-width: 768px) {
	.nav-sidebar{
		display: none;
	}
} 