.tabbed-forecast{
	margin-top: 32px;
}

.tabbed-forecast .title{
	font-family: 'Open Sans', sans-serif;
	color: #003459;
	font-size: 16pt;
	font-weight: 700;
	margin-bottom: 10px;
}

.tabs-container{
	display: flex;
	flex-direction: row;
}


.tabs-container>div:first-child{
	margin-left: 0px;
}

.detail-pane{
	margin-top: 8px;
	background-color: #003459;
	padding-left: 64px;
	padding-right: 64px;
	padding-top: 32px;
	padding-bottom: 32px;
}

.detail-pane>div{
	display: inline-block;
	color: white;
	margin-right: 64px;
	font-family: 'Open Sans', sans-serif;
}

.detail-pane>div>div:first-child{
	font-weight: 700;
}