@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

.inline-block{
	display: inline-block;
}

.purple {
	background-color: purple;
}

.green {
	background-color: green;
}

.float-right{
	float: right;
}

.float-left{
	float: left;
}

.clear-fix{
	overflow: auto;
}

.position-absolute{
	position: absolute;
}